@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    background-color: #080705;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

header h1 a {
    text-decoration: none;
    color: #C44900;
    padding: 0;
}

header h1 a:hover {
    transition: 0.5s;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #C44900;
    font-size: 18px;
}

nav a:hover {
    color: #C44900;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #C44900;
    visibility: hidden;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    min-height: 80vh;
}

form {
    padding: 50px;
    width: 400px;
    height: 380px;
    text-align: center;
    background-color: #C44900;
    border-radius: 25px;
}

input {
    background-color: #C44900;
    border: none;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 20px;
    color: #fff;
}

div {
    margin-bottom: 35px;
}


form > div {
    position: relative;
}

label {
    color: #fff;
    position: absolute;
    left: 0;
    top: .50rem;
    transition: all .3s;
}

input:focus + label, input:valid + label {
    transform: translateY(-1.25rem);
    color: #000;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:hover {
    transition: 0.3s;
    color: #080705;
}

p {
    color: #fff;
}

button {
    border: none;
    border-radius: 100px;
    width: 100%;
    background-color: #090302;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 3.5rem;
}

button:hover {
    transition: background-color 1s;
    background-color: #222;
}